.navbar{
    position: static;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content{
    display: flex;
    /* Regular 14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Colour/Main/Blue/500 */

color: #505F98;
}
.hac{
    margin-right: 60px;
}
.landie{
    /* Bold 26 */

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 38px;
/* identical to box height, or 146% */


/* Colour/Logo/Primary */

color: #37447E;


}
.buy-w{
    width: 160px;
    padding: 4px 0px;
    /* Medium 12 */
    margin-right: 165px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */

text-align: center;

/* Colour/Secondary/White 100 (general) */
color: #FFFFFF;
/* Colour/Main/Blue/800 */

background: #111B47;
border-radius: 2px;

}